telegramchatbot/src/main/mule/telegramchatbot.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracing="http://www.mulesoft.org/schema/mule/tracing" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tracing http://www.mulesoft.org/schema/mule/tracing/current/mule-tracing.xsd">
	<flow name="getUpdatesFlow" doc:id="487651f9-122b-411d-b59b-0086ee3fecd0" >
		<scheduler doc:name="Scheduler" doc:id="c52228ec-7675-44c0-95b8-57b383c19549" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<http:request method="GET" doc:name="Request" doc:id="a9ded450-3ec1-4631-a581-d6207665dbef" config-ref="HTTP_Telegram_Request" path="bot${secure::telegram.api_key}${telegram.getUpdates}"/>
		<choice doc:name="Choice" doc:id="fa7837a9-c537-4a45-9bd8-2f8009a60558" >
			<when expression="#[payload.ok == false]">
				<raise-error doc:name="getUpdates Error" doc:id="5958d17a-e026-4e7f-8b66-83ebad0a222d" type="ANY" description="An error has occured during getting updates"/>
			</when>
			<when expression="#[sizeOf(payload.result) &gt; 0]" >
				<flow-ref doc:name="Flow Reference" doc:id="faa459f3-ee61-48a3-bbe6-623a4798126c" name="newUpdatesFlow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No new updates Logger" doc:id="be900b93-12ab-4e26-b577-4f42b01c4013" message="The chatbot has not received updates in the last 24 hours."/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b130d244-67a6-4445-9213-ff2e97db350d" type="HTTP:CONNECTIVITY, HTTP:INTERNAL_SERVER_ERROR, HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT, HTTP:TOO_MANY_REQUESTS">
				<logger level="INFO" doc:name="HTTP connectivity errors" doc:id="38d77d2a-524f-4818-b675-ccb909205a62" message="An error has occured during request attempted to Telegram services" />
			</on-error-continue>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d3bc94c9-28e7-4fc5-b801-01078a4164b0" type="ANY">
				<logger level="INFO" doc:name="Error getUpdates Logger" doc:id="3cde7a1f-3437-495b-80fc-c4f24aaaab7b" message="The chatbot has not received updates in the last 24 hours." />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="newUpdatesFlow" doc:id="bd82ccde-bd60-4f7d-90c8-45b4864575fa" >
		<ee:transform doc:name="Transform Message" doc:id="527cf2f9-4bc4-4149-a4a7-c5e5a32cb3b3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	"update_id": payload.result[-1].update_id,
	"message": payload.result[-1].message
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f2b92c12-4070-4446-bd8c-70567b10165b" />
		<os:retrieve doc:name="Retrieve" doc:id="5f427c87-d6c8-45f4-b05c-239ab55c8aff" key="stored_update_id" target="stored_updated_id">
			<os:default-value><![CDATA[-1]]></os:default-value>
		</os:retrieve>
		<choice doc:name="Choice" doc:id="3690a51a-9906-4970-ba7e-49896a9b24b5" >
			<when expression="#[vars.stored_updated_id != payload.update_id]">
				<os:store doc:name="Store" doc:id="d292a3f6-be79-4696-8484-b6f29ed9d2cf" key="stored_update_id">
					<os:value ><![CDATA[#[payload.update_id]]]></os:value>
				</os:store>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Update Already Answered Logger" doc:id="49869db6-7581-4a2e-b126-575899f7daf1" message='#["The update with ID "+payload.update_id+" has been already answered"]'/>
			</otherwise>
			
		</choice>
	</flow>
</mule>
